html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    width: 100%;
    height: auto;
}

/* ------------- pod čáru piš tvé styly ------------- */

masonry-layout {
	max-width: 700px;
    margin: auto;
}

a {
    display: flex;
}

